<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->

<body ontouchstart="">

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}


    <!-- Image to hack wechat -->
    <img src="/img/icon_wechat.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

    <!-- waifu-tips.js 依赖 JQuery 库 -->
    <script src="{{site.baseurl}}/assets/jquery.min.js?v=3.3.1"></script>
    
    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="{{site.baseurl}}/assets/jquery-ui.min.js?v=1.12.1"></script>
    <div class="waifu">
        <div class="waifu-tips"></div>
        <canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span> 
            <span class="fui-chat"></span> 
            <span class="fui-eye"></span> 
            <span class="fui-user"></span> 
            <span class="fui-photo"></span> 
            <span class="fui-info-circle"></span> 
            <span class="fui-cross"></span>
        </div>
    </div>
    <!--路径问题异步加载无效-->
    <script src="{{site.baseurl}}/assets/waifu-tips.js?v=1.4.2"></script>
    <script src="{{site.baseurl}}/assets/live2d.min.js?v=1.0.5"></script>
    <script>
        //live2d_settings['hitokotoAPI'] = 'hitokoto.cn';  // 一言 API
        live2d_settings['modelId'] = 6;                  // 默认模型 ID
        live2d_settings['modelTexturesId'] = 4;          // 默认材质 ID
        live2d_settings['modelStorage'] = false;         // 不储存模型 ID
        initModel('{{site.baseurl}}/assets/waifu-tips.json');
    </script>
</body>

</html>